@mixin flex($justify, $align, $direction: row, $wrap: nowrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

@mixin bg($image, $size, $position: center) {
    background-image: $image;
    background-position: $position;
    background-size: $size;
    background-repeat: no-repeat;
}

@mixin btn {
    background-color: $orange;
    color: $white;
    padding: 15px 40px;
    text-transform: uppercase;
    cursor: pointer;
    transition: $transition;
    font-size: 1.2rem;
    border: none;
    outline: none;
    margin-top: 30px;
    border-radius: 10px;
}